{% extends 'base.html.twig' %}
{% block title %} - Log in!{% endblock %}


{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="username" value="{{ last_username }}" />
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-success" type="submit">Se connecter</button>
    </form>
{% endblock %}


